@font-face {
  font-family: Montserat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Montserat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserat;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__elems {
  display: flex;
  align-items: center;
}
.header__icons {
  display: flex;
  align-items: center;
}
.header__btns {
  display: flex;
  align-items: center;
}
.header__search {
  margin-right: 40px;
}

.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  background-color: #156963;
  padding: 8px 33px;
}
.btn_w {
  color: #156963;
  background-color: #fff;
}

.main__pic {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -100;
  background: url("../img/bg-main.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100vh;
}
.main__wrap {
  display: flex;
}
.main__right {
  margin-left: 120vh;
  margin-top: 110px;
}
.main__block {
  text-align: left;
  margin-right: 56px;
}
.main__title {
  font-weight: 500;
  font-size: 68px;
  margin-bottom: 24px;
  color: #156963;
}
.main__text {
  text-align: left;
  font-weight: 400;
  width: 493px;
  align-items: left;
}
.main__prev-next {
  margin-top: 110px;
  display: flex;
  font-size: 32px;
  height: 160px;
}
.main__prev {
  margin-right: 102px;
  display: flex;
  flex-direction: column;
  padding: 3vh 4vh;
}
.main__prev-text {
  color: #156963;
}
.main__next {
  display: flex;
  flex-direction: column;
  background-color: #156963;
  padding: 3vh 4vh;
}
.main__next-text {
  color: white;
}

.advantages {
  margin-left: 56px;
  margin-right: 56px;
  margin-top: 20vh;
  height: 155px;
  display: flex;
  justify-content: space-between;
}
.advantages__header {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.advantages__block {
  width: 269px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  padding: 22px 16px;
}
.advantages__title {
  font-size: 16px;
}
.advantages__text {
  font-size: 10px;
}

.plants {
  margin-top: 80px;
  margin-left: 56px;
  margin-right: 56px;
  text-align: center;
}
.plants__title {
  font-size: 20px;
}
.plants__header {
  display: flex;
  gap: 150vh;
}
.plants__border {
  margin: 19.5px 0 24px 0;
  height: 2px;
  background-color: #E0E0E0;
}
.plants__cards {
  display: flex;
  justify-content: space-between;
}
.plants__name {
  margin-top: 16px;
  font-size: 16px;
  margin-bottom: 8px;
}
.plants__idr {
  font-size: 16px;
  font-weight: 600;
}

.advice {
  margin-top: 80px;
  margin-right: 56px;
  margin-left: 56px;
  display: flex;
  justify-content: space-between;
}
.advice__left {
  display: flex;
  flex-direction: column;
}
.advice__title {
  width: 522px;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 700;
  margin-left: 23px;
}
.advice__text {
  font-size: 16px;
  width: 506.69px;
  margin-bottom: 74px;
  margin-left: 23px;
}
.advice__pic1 {
  height: 609.9px;
}
.advice__pic2 {
  height: 250px;
}

.visit {
  height: 360px;
  background-color: #F3F4F6;
  display: flex;
  justify-content: space-between;
}
.visit__title {
  padding-left: 153px;
  padding-top: 88px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 42px;
}
.visit__btn {
  margin-left: 153px;
  padding: 10px 42px 10px 42px;
  background-color: #156963;
  color: #fff;
}

.footer {
  margin-left: 167px;
  margin-right: 167px;
  margin-bottom: 71px;
}
.footer__main {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.footer__border {
  height: 1px;
  background-color: #156963;
}
.footer__main-title {
  font-size: 24px;
  font-weight: 500;
  color: #156963;
  margin-bottom: 24px;
}
.footer__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer__text2 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 14px;
}
.footer__input {
  outline: none;
  padding: 8px 87px 0px 13px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  width: 234px;
  height: 32px;
  margin-bottom: 22px;
}
.footer__info3 {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */